html {
  background-color: rgb(81, 174, 174);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

header {
  padding: 12px;
}

footer {
  background-color: lightcoral;
  margin-top: 24px;
  padding: 24px;
}

main {
  max-width: 800px;
  margin: auto;
}

.detail-page-book-review {
  background-color: white;
  padding: 24px;
}

.main-page-book-review {
  background-color: white;
  border: 1px solid lightblue;
  padding: 24px;
}

.book-cover {
  width: 200px;
  height: auto;
}

.book-title {
  font-weight: bold;
  font-size: 150%;
}

.book_rating {
  font-size: 125%;
}

.book-authors {
  color: dimgray;
}

.book-review-form {
  background-color: white;
  padding: 24px;
}
